streamlit==1.56.0
pandas==3.0.2
numpy==2.4.4
matplotlib==3.10.8
plotly==6.7.0
requests==2.33.1
python-dotenv==1.2.2
google-generativeai==0.8.6
google-genai==1.72.0
finance-datareader==0.9.110
beautifulsoup4==4.14.3
lxml==6.0.4
selenium==4.43.0
webdriver-manager==4.0.2
